# Compiled class file
*.classfdasfa 

# Log file
*.logf af

# BlueJ filesaf asfafda
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
 d
*.war
*.narasdfsh logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Git
git.properties
afd
#IDEA Project Files
*iml
*iws
.idea
*ipr
ishopdb
